.productList {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(1.25rem, 1vw, 3.4375rem);
    justify-items: center;

    @media (max-width: 1296px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 980px) {
        width: auto;
        display: flex;
        overflow-x: scroll;

        padding: 0 1.5rem 1.25rem 1.5rem;
        margin: 0 -1.5rem;
    }

}