.modalOverlay {
    width: 100%;
    background: var(--color-black-25);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    inset: 0;
}

.modalContainer {
    width: 100%;
    max-width: 31.25rem;
    border-radius: 5px;
    margin: 0 20px;
    background: var(--color-white);
}

.modalHeader {
    height: 3.375rem;
    padding: 0 22px;
    background: var(--color-primary);
    border-radius: 5px 5px 0 0;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > h2 {
        color: var(--color-white);
    }

    button {
        height: fit-content;
        color: var(--color-white-50);
        background: transparent;
        padding: 0;

        &:hover {
            color: var(--color-white);
        }
    }
}

.modalContent {
    padding: 20px;

    ul {
        max-height: 280px;
        overflow-y: auto;
        padding-right: 10px;
        margin-right: -10px;

        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .modalFooter {
        height: 120px;
        border-top: 2px solid var(--color-gray-1);
        margin-top: 18px;
        padding-top: 15px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .priceAmount {
            display: flex;
            justify-content: space-between;
        }

        button {
            &:hover {
                background: var(--color-secondary);
            }

            &:disabled {
                cursor: default;
                
                &:hover {
                    background-color: var(--color-gray-1);
                }
            }
        }
    }
}